*{ margin: 0; padding: 0;}
@font-face{
    font-family: myfont;
    src: url('Fonts/Staatliches-Regular.ttf');
    font-weight: 900;
}
body{
    background-image: url('Img&mp4/background.jpg');
    /* background-image: linear-gradient(black, black); */
    background-size: cover;
    background-repeat: round;
    width: 100%;
    height: 100vh;
    font-family: myfont;
    text-transform: capitalize;
}
.navbar{
    width: 100%;
    height: 20vh;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.6);}
ul{
    position: absolute;
    top: 10.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{
    list-style: none;
}
ul li{
    list-style: none;
}
ul li a{
    position: relative;
    display: block;
    padding: 10px 75px;
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    transition: 1s;
}
ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    /* z-index: -1; */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .6s;
}
ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
ul li a::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: white;
    /* z-index: -1; */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s;
}
ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: right;
}
main{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
}
main h2{
    margin-top: 160px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
span{
    animation: color-change 1s linear infinite;
    font-weight: bold;
    margin-top: 5px;
}
@keyframes color-change{
    0%{color: silver;}
    50%{color: snow;}
    100%{color: silver;}
}
p{
    margin-top: 5px;
    color: white;
    font-weight: bold;
}
.buttons{
    margin-top: 19px;
    justify-content: space-around;
}
#btn1{
    border-radius: 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 40px;
    color: seashell;
    text-decoration: none;
    font-weight: 500;
    transition: .6s ease;
}
#btn2{
    background-color: seashell;
    padding: 10px 40px;
    color: rgba(0, 0, 0, 0.9);
    border-radius: 2rem 2rem;
    text-decoration: none;
    font-weight: 500;
    transition: .6s ease;
}
#btn1:hover{
    background-color: seashell;
    padding: 10px 40px;
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    font-weight: 500;
    transition: .6s ease;
    border-radius: 2rem 2rem;
}
#btn2:hover{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 40px;
    color: seashell;
    text-decoration: none;
    font-weight: 500;   
    transition: .6s ease;
    border-radius: 2rem 2rem;
}
#sai{
    position: relative;
    width: 15%;
    display: flex;
    align-items: center;
    margin-left: 580px;
    margin-top: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 48% 46% 48% 53% / 25% 15% 82% 84% ;
    /* border-radius: 2rem 2rem; */
    transition: 1s ease;
}
#sai:hover{
    border-radius: 100%;	
}
